In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [29]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
#june = dt.date(2017,6,30) - dt.timedelta(days=30)
results_june_temps=[]
results_june_temps = session.query(Measurement.tobs).filter(extract("month",Measurement.date)==6).all()
print(results_june_temps[:min(10, len(results_june_temps))])

[(78.0,), (76.0,), (78.0,), (76.0,), (77.0,), (78.0,), (77.0,), (78.0,), (78.0,), (79.0,)]

In [26]:
results_june_temps_dates=[]
results_june_temps_dates = session.query(Measurement.date, Measurement.tobs).filter(extract("month",Measurement.date)==6).all()
print(results_june_temps_dates[:min(10, len(results_june_temps_dates))])

[('2010-06-01', 78.0), ('2010-06-02', 76.0), ('2010-06-03', 78.0), ('2010-06-04', 76.0), ('2010-06-05', 77.0), ('2010-06-06', 78.0), ('2010-06-07', 77.0), ('2010-06-08', 78.0), ('2010-06-09', 78.0), ('2010-06-10', 79.0)]

In [6]:
#  3. Convert the June temperatures to a list.
results_june_temps = list(np.ravel(results_june_temps))

In [27]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results_june_temps,columns=['June Temps'])
june_df.head(10)

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0
5        78.0
6        77.0
7        78.0
8        78.0
9        79.0

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [30]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_dec_temps=[]
results_dec_temps = session.query(Measurement.tobs).filter(extract("month",Measurement.date)==12).all()
print(results_dec_temps[:min(10, len(results_dec_temps))])

[(76.0,), (74.0,), (74.0,), (64.0,), (64.0,), (67.0,), (77.0,), (66.0,), (69.0,), (68.0,)]

In [10]:
# 7. Convert the December temperatures to a list.
results_dec_temps = list(np.ravel(results_dec_temps))

In [31]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(results_dec_temps,columns=['Dec Temps'])
dec_df.head(10)

   Dec Temps
0       76.0
1       74.0
2       74.0
3       64.0
4       64.0
5       67.0
6       77.0
7       66.0
8       69.0
9       68.0

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [32]:
results_june_precip = []
results_june_precip =    session.query(Measurement.prcp).filter(extract("month",Measurement.date) == 6).all()
print(results_june_precip[:min(10, len(results_june_precip))])

[(0.0,), (0.01,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,)]

In [33]:
results_june_precip = list(np.ravel(results_june_precip))
june_precip_df = pd.DataFrame(results_june_precip,columns=['June Precip'])
june_precip_df.head(10)

   June Precip
0         0.00
1         0.01
2         0.00
3         0.00
4         0.00
5         0.00
6         0.00
7         0.00
8         0.00
9         0.00

In [18]:
june_precip_df.describe()

       June Precip
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [34]:
results_dec_precip = []
results_dec_precip =    session.query(Measurement.prcp).filter(extract("month",Measurement.date) == 12).all()
print(results_dec_precip[:min(10, len(results_dec_precip))])

[(0.04,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (0.0,), (1.58,), (0.77,), (0.0,)]

In [35]:
results_dec_precip = list(np.ravel(results_dec_precip))
dec_precip_df = pd.DataFrame(results_dec_precip,columns=['Dec Precip'])
dec_precip_df.head(10)

   Dec Precip
0        0.04
1        0.00
2        0.00
3        0.00
4        0.00
5        0.00
6        0.00
7        1.58
8        0.77
9        0.00

In [22]:
dec_precip_df.describe()

        Dec Precip
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000